h1,
p,
ol {
  font-family: sans-serif;
  line-height: 2;
  font-size: 30px;
}

.mainskills {
  background-color: rgb(226, 212, 193);
  border: 15px solid salmon;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: peru;
  border: 5px solid rgb(107, 176, 219);
  background-color: antiquewhite;
}

.Main {
  text-align: center;
}

.Textunderline {
  text-align: center;
}

.my-skills {
  font-size: 26px;
  list-style: circle;
  list-style-position: inside;
  line-height: 1.5;
  text-align: center;
}

.ending {
  font-size: 20px;
  text-align: center;
}

.it {
  color: rgba(50, 11, 155, 0.486);
}

body {
  background-color: antiquewhite;
  border: 3px solid lightskyblue;
}

.lines {
  border: 5px solid peru;
}

.dumbass {
  border: 5px dotted lightseagreen;
}
