h1,
p,
ol {
  font-family: sans-serif;
  line-height: 2;
  font-size: 30px;
}

.mainskills {
  background-color: rgba(188, 125, 230, 0.658);
  border: 15px solid orange;
}

.mainskills:hover {
  border: 15px solid purple;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: peru;
  border: 5px solid rgb(5, 100, 21);
  background-color: rgba(188, 125, 230, 0.658);
}

.Main {
  text-align: center;
  color: rgb(72, 25, 180);
  font-weight: bold;
}
.dumbasstext {
  text-align: center;
  color: orange;
}

.dumbasstext:hover {
  color: rgba(50, 11, 155, 0.486);
}

.Textunderline {
  text-align: center;
  font-weight: bold;
  color: rgb(49, 107, 143);
  font-size: 35px;
}

.my-skills {
  font-size: 26px;
  list-style: circle;
  list-style-position: inside;
  line-height: 1.5;
  text-align: center;
}

.ending {
  font-size: 20px;
  text-align: center;
}

.it {
  color: rgba(50, 11, 155, 0.486);
}

body {
  background-color: rgba(188, 125, 230, 0.658);
  border: 3px solid rgba(50, 11, 155, 0.486);
}

.lines {
  border: 1px solid rgba(50, 11, 155, 0.486);
  line-height: 2;
  font-size: 27px;
}

.dumbass {
  border: 5px dotted rgba(50, 11, 155, 0.486);
}

.Rllink {
  border: solid rgba(50, 11, 155, 0.486);
  text-align: center;
}

.Rllink:hover {
  border: solid orange;
}

a {
  text-decoration: none;
  color: rgba(50, 11, 155, 0.486);
  font-weight: bold;
}

a:hover {
  color: rgba(50, 11, 155, 0.486);
}

.ending {
  text-decoration: underline;
  color: rgba(50, 11, 155, 0.486);
  font-size: 50px;
}
